
  <h1 id="title">Site Seeing</h1>

  <div id="loginJ" class="jumbotron">

<div class="container">

    <div class="row">

      <div class="col-md-6 col-md-offset-1">

        <h2 id="loginTitle">Log In</h2>

        <form id="loginBox" class="login" action="/api/members">

          <div id="email" class="form-group">

            <label for="exampleInputEmail1">Email address</label>

            <input type="email" class="form-control" id="email-input" placeholder="Email">

          </div>

          <div id="password" class="form-group">

            <label for="exampleInputPassword1">Password</label>

            <input type="password" class="form-control" id="password-input" placeholder="Password">

          </div>

          <button type="submit" class="btn btn-primary">Login</button>

        </form>
        <br>



      </div>

    </div>
<br>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h4>Login With Google</h4>
        <a class="btn btn-primary" href="/auth/google">Google</a>


      </div>
    </div>
<br>
<br>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <p id="loginSignUp">Or sign up <a href="/api/signup">here</a></p>
      </div>
    </div>

  </div>

  </div>
