body {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
  }

.jumbotron {
    width: 50%;
    position: absolute;
    left: 25%;
}

#email-input {
    width: 200%;
}

#password-input {
    width: 200%;
}

#sites {
    position: absolute;
    top: 35%;
}

#addSite {
    position: absolute;
    top: 1%;
}

#addSiteButton {
    position: relative;
    left: 40%;
}

#sitesTitle {
    text-align: center;
}

.glyphicon-remove-circle {
    font-size: 30px;
}

li {
    font-size: 30px;
}